form {
  max-width: 350px;
}

label,
input,
textarea {
  display: block;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

textarea {
  resize: vertical;
  height: 150px;
}

.dcard {
  max-height: 200px;
}
